{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
<div class="dictionary-item">
  <a href="/dictionary/letter-1/index.html" class="dictionary-active">А</a>
  <a href="/dictionary/letter-2/index.html" class="dictionary-active">Б</a>
  <a href="/dictionary/letter-3/index.html" class="dictionary-active">В</a>
  <a href="/dictionary/letter-4/index.html" class="dictionary-inactive">Г</a>
  <a class="dictionary-inactive">Д</a>
  <a class="dictionary-inactive">Е</a>
  <a class="dictionary-inactive">Ж</a>
  <a class="dictionary-inactive">З</a>
  <a href="/dictionary/letter-9/index.html" class="dictionary-active">И</a>
  <a href="/dictionary/letter-10/index.html" class="dictionary-active">К</a>
  <a class="dictionary-inactive">Л</a>
  <a href="/dictionary/letter-12/index.html" class="dictionary-active">М</a>
  <a href="/dictionary/letter-13/index.html" class="dictionary-active">О</a>
  <a class="dictionary-inactive">П</a>
  <a class="dictionary-inactive">Р</a>
  <a class="dictionary-inactive">С</a>
  <a class="dictionary-inactive">Т</a>
  <a class="dictionary-inactive">У</a>
  <a href="/dictionary/letter-19/index.html" class="dictionary-active">Ф</a>
  <a href="/dictionary/letter-20/index.html" class="dictionary-active">Х</a>
  <a class="dictionary-inactive">Ц</a>
  <a class="dictionary-inactive">Ч</a>
  <a class="dictionary-inactive">Ш</a>
  <a class="dictionary-inactive">Щ</a>
  <a class="dictionary-inactive">Ы</a>
  <a class="dictionary-inactive">Э</a>
  <a class="dictionary-inactive">Ю</a>
  <a class="dictionary-inactive">Я</a>
</div>
{% endblock %}
