{% extends "no_sidebar.html" %}
{% block main_content %}
  <h2>{{ page.title }}</h2>
<div class="dictionary-item">
  <a href="/dictionary/letter-1/" class="dictionary-active dictionary-no-margin">А</a>
  <a href="/dictionary/letter-2/" class="dictionary-active">Б</a>
  <a href="/dictionary/letter-3/" class="dictionary-active">В</a>
  <a href="/dictionary/letter-4/" class="dictionary-active">Г</a>
  <a href="/dictionary/letter-5/" class="dictionary-active">Д</a>
  <a class="dictionary-inactive">Е</a>
  <a class="dictionary-inactive">Ж</a>
  <a href="/dictionary/letter-8/" class="dictionary-active">З</a>
  <a href="/dictionary/letter-9/" class="dictionary-active dictionary-no-margin">И</a>
  <a href="/dictionary/letter-10/" class="dictionary-active">К</a>
  <a href="/dictionary/letter-11/" class="dictionary-active">Л</a>
  <a href="/dictionary/letter-12/" class="dictionary-active">М</a>
  <a href="/dictionary/letter-13/" class="dictionary-active">Н</a>
  <a href="/dictionary/letter-14/" class="dictionary-active">О</a>
  <a href="/dictionary/letter-15/" class="dictionary-active">П</a>
  <a class="dictionary-inactive">Р</a>
  <a href="/dictionary/letter-17/" class="dictionary-active dictionary-no-margin">С</a>
  <a href="/dictionary/letter-18/" class="dictionary-active">Т</a>
  <a href="/dictionary/letter-19/" class="dictionary-active">У</a>
  <a href="/dictionary/letter-20/" class="dictionary-active">Ф</a>
  <a href="/dictionary/letter-21/" class="dictionary-active">Х</a>
  <a href="/dictionary/letter-22/" class="dictionary-active">Ц</a>
  <a class="dictionary-inactive">Ч</a>
  <a class="dictionary-inactive">Ш</a>
  <a class="dictionary-inactive dictionary-no-margin">Щ</a>
  <a href="/dictionary/letter-26/" class="dictionary-active">Э</a>
  <a class="dictionary-inactive">Ю</a>
  <a class="dictionary-inactive">Я</a>
</div>
{% endblock %}
